# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key

# Environment
.env
.env.backup
.env.production

# Logs
/storage/logs
*.log

# Cache
/bootstrap/cache/*.php
/bootstrap/cache/*.json

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Testing
/phpunit.result.cache

# Build files
/public/hot
/public/build

# Misc
npm-debug.log
yarn-error.log